# =============================================================================
# DEPENDENCIES
# =============================================================================
node_modules/
package-lock.json

# =============================================================================
# BUILD ARTIFACTS
# =============================================================================
backup
docs/notes
src/views/deck

# =============================================================================
# LOGS & RUNTIME DATA
# =============================================================================
#logs/
*.log
npm-debug.log*
*.pid
*.pid.lock

# =============================================================================
# ENVIRONMENT FILES
# =============================================================================
.env
.env.local

# =============================================================================
# IGNORE KEYS
# =============================================================================
*.pem
*.key

# =============================================================================
# IDE & OS FILES
# =============================================================================
.DS_Store
Thumbs.db
.vscode/
*.swp
*.tmp
*.old

# =============================================================================
# SCSS VARIATIONS
# =============================================================================
*.v[0-9]*.scss
*.old.scss
*.wip.scss

# =============================================================================
# JS VARIATIONS
# =============================================================================
*.v[0-9]*.js
*.old.js
*.wip.js

# =============================================================================
# EJS VARIATIONS
# =============================================================================
*.v[0-9]*.ejs
*.old.ejs
*.wip.ejs